<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/main}"
>
    <head>
       <title>Về chúng tôi</title>
       <style>
        .card:hover {
            transform: scale(1.1);
            transition: 1000ms;
            background-color: #ffc107;
        }
    </style>
    </head>

    <body>
        <div layout:fragment="content">
            <div class="container-fluid text-center mydev pt-2">
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-2">
                        <div class="card mt-5" style="width: 100%;">
                            <img src="https://www.w3schools.com/bootstrap4/img_avatar1.png" class="card-img-top" alt="">
                        
                        <div class="card-body">
                            <h5 class="card-title">Huỳnh Duy Kha</h5>
                            <h5 class="card-title">19431331</h5>
                            
                            <p class="card-text">Công việc</p>
                            <a href="https://www.facebook.com/profile.php?id=100009341871879" class="btn btn-primary"><i class="fa fa-address-card" aria-hidden="true"></i> Liên hệ</a>
                        </div>
                    </div>
                    </div>
                   
                    <div class="col-md-2">
                        <div class="card mt-5" style="width: 100%;">
                            <img src="https://www.w3schools.com/bootstrap4/img_avatar1.png" class="card-img-top" alt="">
                        
                        <div class="card-body">
                            <h5 class="card-title">Phan Thanh Phong</h5>
                            <h5 class="card-title">19432841</h5>
                            <p class="card-text">Công việc</p>
                            <a href="https://www.facebook.com/Font.Thong.Thai" class="btn btn-primary"><i class="fa fa-address-card" aria-hidden="true"></i> Liên hệ</a>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card mt-5" style="width: 100%;">
                            <img src="https://www.w3schools.com/bootstrap4/img_avatar1.png" class="card-img-top" alt="">
                        
                        <div class="card-body">
                            <h5 class="card-title">Trần Minh Hiếu</h5>
                            <h5 class="card-title">19434851</h5>
                            <p class="card-text">Công việc</p>
                            <a href="https://www.facebook.com/hiros91" class="btn btn-primary"><i class="fa fa-address-card" aria-hidden="true"></i> Liên hệ</a>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card mt-5" style="width: 100%;">
                            <img src="https://www.w3schools.com/bootstrap4/img_avatar1.png" class="card-img-top" alt="">
                        
                        <div class="card-body">
                            <h5 class="card-title">Phạm Lê Khánh Duy</h5>
                            <h5 class="card-title">19432121</h5>
                            <p class="card-text">Công Việc</p>
                            
                            <a href="https://www.facebook.com/profile.php?id=100015888185807" class="btn btn-primary"><i class="fa fa-address-card" aria-hidden="true"></i> Liên hệ</a>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card mt-5" style="width: 100%;">
                            <img src="https://www.w3schools.com/bootstrap4/img_avatar1.png" class="card-img-top" alt="">
                        
                        <div class="card-body">
                            <h5 class="card-title">Phạm Hoàng Huy</h5>
                            <h5 class="card-title">19432121</h5>
                            <p class="card-text">Công việc</p>
                            <a href="" class="btn btn-primary"><i class="fa fa-address-card" aria-hidden="true"></i> Liên hệ</a>
                        </div>
                    </div>
                    </div>
                    <div class="col-md"></div>
                </div>
            </div>
        </div>
    </body>
</html>