<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/main}">

<head>
    <title>Chi tiết Sản phẩm</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/xzoom.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/style_product_detail.css}">
</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="back" style="padding-top: 1.75em;">
                <a th:href="@{/home}">Trang chủ</a> / <a th:href="@{/products}">Sản Phẩm</a> / <span th:text="${product.name}"></span>
            </div>
            <h1 class="text-center pt-3 pb-2">Thông tin sản phẩm</h1>
            <span
                style="width: 20%; content: ''; border-bottom: 3px solid black; position: absolute; left: 40%;"></span>
            <div class="row mt-5 mb-4">


                <div class="col col-12 col-md-5 wrapImage p-0">
                    <div>
                        <img id="imageShow"
                            th:src="@{'/products/images/'+ ${product.productOptions[0].image}}" style="width: 100%;">
                        <div class="mt-3 d-flex">
                            <div  th:if="${product}"
                                th:each="productOption, iStat : ${product.productOptions}">
                                <span>
                                    <img onclick="imageClickHandler(this)" th:id="${productOption.id}" th:price="${productOption.price}"  class="xzoom-gallery xactive" width="80px"
                                        th:src="@{'/products/images/'+ ${productOption.image}}">
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-md-7 wrapImage p-0">
                    <h3 th:text="${product.name}"> Xe đạp điện gấp Homesheel AIRWHEEL E3</h3>
                    <span class="price_min mt-3">
                        Giá:<span class="price" th:text="${product.productOptions[0].price}">13,600,000₫</span>
                        <span class="m-0">đ</span>
                    </span>
                    <div class="quantity buttons_added mt-3">
                        <span>Số lượng: </span>
                        <input type="button" value="-" class="qtyControl minus">
                        <input type="number" step="1" min="1" id="pdQuantity" name="quantity" value="1"
                            class="input-text qty text" size="4">
                        <input type="button" value="+" class="qtyControl plus">
                    </div>

                    <input class="idOptionHidden" hidden type="text" th:value="${product.productOptions[0].id}">

                    <!-- <p class="note">Trọng lượng: 12500gram</p> -->
                    <div class="row d-flex">
                        <div class="col col-6">
                            <button type="submit" class="styleBtnAdd">
                                <span> Mua ngay</span>
                            </button>
                        </div>

                        <div class="col col-6">
                            <form class="p-0" action="#" th:action="@{'/products/'+ ${product.id}}" th:object="${cartitem}" method="get">
                                <input hidden type="text" th:field="*{idOption}" id="idOption" value="${product.id}">
                                <input hidden type="text" th:field="*{price}" id="priceProduct" value="${product.price}">
                                <input hidden type="text" th:field="*{quantity}" id="quantityProduct">
                                <button id="addCart" type="submit" class="btn styleBtnAdd styleBtnOrder">
                                    <i class="fa-solid fa-cart-shopping"></i> <span class="ms-2"> Thêm vào giỏ hàng </span>
                                </button>
                            </form>
                        </div>


                        <!-- <form action="#" method="post">

                            <input type="text" th:field="*{quantity}" id="quantityProduct">
                            <button type="submit" class="btn styleBtnAdd styleBtnOrder ms-1">
                                <i class="fa-solid fa-cart-shopping"></i> <span class="ms-2"> Thêm vào giỏ hàng </span>
                            </button>
                        </form> -->

                        <!-- <a th:href="@{'/products/'+${product.id}}" class="btn styleBtnAdd styleBtnOrder ms-1">
                            <i class="fa-solid fa-cart-shopping"></i> <span class="ms-2"> Thêm vào giỏ hàng </span>
                        </a> -->
                    </div>

                    <!-- <p class="ms-3">
                        Đối với các sản phẩm xe đạp, chúng tôi chỉ hỗ trợ giao lắp ráp sẵn trong khu vực Hồ Chí Minh, Hà
                        Nội, đối với khu vực tỉnh chúng tôi giao hàng nguyên đai nguyên kiện.
                    </p>
                    <p class="ms-3">
                        Để biết thêm thông tin chi tiết, quý khách vui lòng liên hệ qua hotline của AeonEshop: 1900 9097
                        để
                        được hỗ trợ.</p> -->

                    <!-- thong tin chi tiet -->
                    <div class="bao-info-product"
                        style="border:2px solid #00a550; border-radius: 15px; margin-top:20px">
                        <div class=""
                            style=" background-color:#00a550; border-radius:15px 15px 0% 0%;padding:7px 0px 7px 0px">
                            <h5 style="color: white; padding-left: 15px; margin-bottom: 0;">Chi tiết sản phẩm</h5>
                        </div>
                        <div style="padding-left: 15px; margin-top: 10px;">

                            <p>Chiều dài x rộng x cao:
                                <span name="dai" th:text="${product.length} + 'mm x'"></span>
                                <span name="rong" th:text="${product.width} + 'mm x'"></span>
                                <span name="cao" th:text="${product.height} + 'mm'"></span>
                            </p>
                            <p>Trọng lượng:
                                <span name="trongluong" th:text="${product.weight} + 'kg'"></span>
                            </p>
                            <p>Tải trọng:
                                <span name="taitrong" th:text="${product.maximumLoad} + 'kg'"></span>
                            </p>
                            <p>Acquy:
                                <span name="acquy" th:text="${product.battery} +'v'"></span>
                            </p>
                            <p>Vận tốc tối đa:
                                <span name="vantocMinMax" th:text="${product.minimumMaximumSpeed} + 'km/h -'"></span>

                                <span name="vantocMaxMax" th:text="${product.maximumMaximumSpeed} + 'km/h'"></span>
                            </p>
                            <p>Quảng đường di chuyển:
                                <span name="quanduongMin" th:text="${product.distanceMin} + 'km/h -'"></span>
                                <span name="quanduongMax" th:text="${product.distanceMax} + 'km/h / 1 lần sạc'"></span>
                            </p>
                        </div>
                    </div>
                    <!-- end thong tin chi tiet -->

                </div>
            </div>

            <div class="row mb-4">

            </div>

        </div>
        <script>
            const idOptionHidden = document.querySelector(".idOptionHidden");
            const priceTemp = document.querySelector(".price");
            const idProductOp = document.getElementById("idProductOp");
            var  imageClickHandler = function(tgt){
                var img = document.querySelector(".price").innerText = tgt.getAttribute("price");

                document.querySelector("#imageShow").src = tgt.src;

                idOptionHidden.value = tgt.getAttribute("id");
            }

            const btnQuantity = document.querySelectorAll('.qtyControl');
            var quantity = document.getElementById('pdQuantity');
            btnQuantity.forEach(element => {
                element.addEventListener('click', function () {
                    if (element.classList.contains('minus')) {
                        if (quantity.value > 1) {
                            quantity.value--;
                        }
                    } else {
                        quantity.value++;
                    }
                })
            })

            const btnAddCart = document.getElementById("addCart");
            btnAddCart.addEventListener('click', function () {
                const priceProduct = document.getElementById("priceProduct");
                const quantityProduct = document.getElementById("quantityProduct");
                priceProduct.value = priceTemp.innerText;
                quantityProduct.value = quantity.value;

                // var count = document.querySelector(".totalProduct").innerText;
                // console.log(count);
                // count.innerText = count++;
                // console.log('sum'+count);

                const idOption = document.getElementById("idOption");
                idOption.value = idOptionHidden.value;
                // idProductOp.value =

            });


        </script>
        <!-- <script th:src="@{js/jquery-3.6.0.min.js}"></script>
        <script th:src="@{js/xzoom.min.js}"></script>
        <script th:src="@{js/foundation.min.js}"></script>
        <script th:src="@{js/setup.js}"></script>

        <script th:src="@{js/owl.carousel.min.js}"></script> -->

    </div>
</body>

</html>