<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/main}">

<head>
    <title>Chi tiết Sản phẩm</title>
    <link rel="stylesheet" type="text/css" href="css/xzoom.css" media="all">
    <link rel="stylesheet" href="css/style_product_detail.css">
</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="back" style="padding-top: 1.75em;">
                <a href="/index.html">Trang chủ</a> / <a href="#">Sản Phẩm</a> / Xe đạp điện gấp Homesheel AIRWHEEL E3
            </div>
            <h1 class="text-center pt-3 pb-2">Thông tin sản phẩm</h1>
            <span
                style="width: 20%; content: ''; border-bottom: 3px solid black; position: absolute; left: 40%;"></span>
            <div class="row mt-5 mb-4">
                <div class="col col-12 col-md-5 wrapImage p-0">
                    <div class="xzoom-container">
                        <img class="xzoom " id="xzoom-default" src="image/products/product_01.jpg"
                            xoriginal="image/products/product_01.jpg" style="width: 100%;">
                        <!-- <div class="xzoom-thumbs mt-3">
                                <a href="images/products/product_01.jpg">
                                    <img class="xzoom-gallery xactive" width="80" src="images/products/product_01.jpg"
                                        xpreview="images/products/product_01.jpg">
                                </a>
                                <a href="images/products/product_02.jpg">
                                    <img class="xzoom-gallery" width="80" src="images/products/product_02.jpg">
                                </a>
                                <a href="images/products/product_03.jpg">
                                    <img class="xzoom-gallery" width="80" src="images/products/product_03.jpg">
                                </a>
                                <a href="images/products/product_04.jpg">
                                    <img class="xzoom-gallery" width="80" src="images/products/product_04.jpg">
                                </a>
                            </div> -->
                    </div>
                </div>
                <div class="col col-12 col-md-7 wrapImage p-0">
                    <h3> Xe đạp điện gấp Homesheel AIRWHEEL E3</h3>
                    <span class="price_min mt-3">
                        Giá:<span class="price">13,600,000₫</span>
                    </span>
                    <div class="quantity buttons_added mt-3">
                        <span>Số lượng: </span>
                        <input type="button" value="-" class="qtyControl minus">
                        <input type="number" step="1" min="1" id="pdQuantity" name="quantity" value="1"
                            class="input-text qty text" size="4">
                        <input type="button" value="+" class="qtyControl plus">
                    </div>
                    <p class="note">Trọng lượng: 12500gram</p>
                    <div class="row">
                        <button type="submit" class="styleBtnAdd">
                            <span> Mua ngay</span>
                        </button>

                        <button type="submit" class="styleBtnAdd styleBtnOrder ms-1">
                            <i class="fa-solid fa-cart-shopping"></i> <span class="ms-2"> Thêm vào giỏ hàng </span>
                        </button>
                    </div>
                    <h5 class="mt-3" style="color: #ff0000;">Chi tiết sản phẩm</h5>
                    <p class="ms-3">
                        Đối với các sản phẩm xe đạp, chúng tôi chỉ hỗ trợ giao lắp ráp sẵn trong khu vực Hồ Chí Minh, Hà
                        Nội, đối với khu vực tỉnh chúng tôi giao hàng nguyên đai nguyên kiện.
                    </p>
                    <p class="ms-3">
                        Để biết thêm thông tin chi tiết, quý khách vui lòng liên hệ qua hotline của AeonEshop: 1900 9097
                        để
                        được hỗ trợ.</p>
                </div>
            </div>

            <div class="row mb-4">

            </div>
            
        </div>
        <script>
            const btnQuantity = document.querySelectorAll('.qtyControl');
            var quantity = document.getElementById('pdQuantity');
            btnQuantity.forEach(element => {
                element.addEventListener('click', function () {
                    if (element.classList.contains('minus')) {
                        if (quantity.value > 1) {
                            quantity.value--;
                        }
                    } else {
                        quantity.value++;
                    }
                })
            })
        </script>
        <script src="js/jquery-3.6.0.min.js"></script>
        <script src="js/xzoom.min.js"></script>
        <script src="js/foundation.min.js"></script>
        <script src="js/setup.js"></script>
        
        <script src="js/owl.carousel.min.js"></script>
        
    </div>
</body>

</html>