<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/main}"
>
    <head>
       <title>giỏ hàng</title>
       <link rel="stylesheet" href="css/gioHang.css">
    </head>

    <body>
        <div layout:fragment="content">
            <div class="wrapper container">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width: 50%;">Sản Phẩm</th>
                            <th style="width: 10%;">Đơn Giá</th>
                            <th style="width: 8%;">Số Lượng</th>
                            <th style="width: 21%; padding-left: 105px;">Thành Tiền</th>
                            <th style="width: 11%;" >Thao Tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="product">
                            <td data-th="Product">
                                <div class="row">
                                    <div class="col-sm-3 ">
                                        <img src="./images/login.png" alt="" class="img-responsive" width="100">
                                    </div>
                                    <div class="col-sm-9" id="">
                                        <div class="nomargin">Xe đạp điện</div>
                                        <p>Mô tả</p>
                                    </div>
                                </div>
                            </td>
                            <td data-th="Price">200.000 đ</td>
                                <td data-th="Quantity"><input class="form-control text-center" value="1" type="number"></td> 
                                <td data-th="Subtotal" class="text-center">200.000 đ</td> 
                                <td class="actions" data-th="">
                           
                             <button class="btn btn-danger btn-sm"><i class="fa-solid fa-trash-can"></i>
                             </button>
                            </td> 
                           </tr>
        
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><a href="" class=" btn btn-warning"> <i class="fa-solid fa-angle-left"></i> Tiếp Tục Mua Hàng</a></td>
                            <td colspan="2" class="hidden-xs"></td>
                            <td class="hidden-xs text-center"><strong>Tổng tiền 200.000 đ</strong></td> 
                            <td><a href="thanhToan.html" class=" btn btn-danger btn-block"> Thanh Toán <i class="fa fa-angle-right"></i> </a> </td>
                        </tr>
                    </tfoot>
                </table>
                
            </div>
        </div>
    </body>
</html>