.input-table{
    width: 100%;
    outline: none;
    border: none;
}

.image-hover:hover ~ .image-zoom{
    
    display: block;
}

.image-zoom{
    top: -300px;
    right: -250px;
    width: 300px;
    transform-origin: left bottom;
    animation: imageGrowth ease 0.5s;
    will-change: opacity, transform;
    display: none;
}

@keyframes imageGrowth {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}