<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title layout:title="$CONTENT_TITLE"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/add-product.css}">




</head>

<body>
    <div class="app" style="background-color: #2980b9;">
        <header class="container" >
            <nav class="navbar justify-content-between" >
                <a href="" class="navbar-brand link-light">Trang Chủ</a>
                <!-- <a href=""><img style="width: 16px; border-radius: 50%;"
                        th:src="${user.image != null ? '/admin/users/images/'+user.image : '/image/default-image.jpg'}"
                        src="/image/default-image.jpg" alt="">
                        <span th:text="${user.username}"></span>
                    </a> -->
                <a class="link-light nav-link d-flex align-items-center" href=""><img style="width: 24px; border-radius: 50%;" src="/image/user.png" alt="">
                    <span class="ms-2"> khanhdii</span>
                </a>
            </nav>
        </header>
        <div class="row flex-row mt-4 w-100" style="flex-wrap: nowrap;">
            <div class="col-2 navbar-light" style="height: calc(100vh); background-color:#2980b9; overflow: auto;"  >
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav__left" style="margin-left: 20px;">
                    <li class="nav-item"><a class="nav-link" href="" style="color: white;" >Quản Lý Đơn Hàng</a></li>
                    <li class="nav-item"><a class="nav-link" href="" style="color: white;">Quản Lý Sản Phẩm</a>
                        <ul class="navbar-nav ms-4 me-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" th:href="@{/admin/products}" style="color: white;">Tất cả sản phầm</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/admin/products/addForm}" style="color: white;">Thêm sản
                                    phầm</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="" style="color: white;">Quản Lý Loại Sản Phẩm</a>
                        <ul class="navbar-nav ms-4 me-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" th:href="@{/admin/catergorys}" style="color: white;">Tất cả loại xe</a>
                            </li>
                            <!-- <li class="nav-item"><a class="nav-link" th:href="@{/admin/catergorys/add}" href="" style="color: white;" >Thêm sản
                                    loại xe</a></li> -->
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="" style="color: white;">Quản Lý Nhà Sản Xuất</a>
                        <ul class="navbar-nav ms-4 me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/admin/manufacturers}" style="color: white;">Tất cả nhà sản xuất</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" th:href="@{/admin/manufacturers/addForm}" href="" style="color: white;" >Thêm nhà sản xuát</a></li> -->
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="" style="color: white;">Quản Lý Tag</a></li>
                    <li class="nav-item"><a class="nav-link" href="" style="color: white;">Quản Lý Tài Khoản</a>
                        <ul class="navbar-nav ms-4 me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/admin/users}" style="color: white;">Tất cả tài khoản</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/admin/users/addForm}" style="color: white;">Thêm tài khoản</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div layout:fragment="content" class="col-10" style="background: #fafafa; padding-right: 0;">

            </div>
        </div>

    </div>

    </div>

    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/add-product.js}"></script>
    <script th:src="@{/js/add-user.js}"></script>

</body>

</html>